In [270]:
import numpy as np

In [271]:
import pandas as pd

In [272]:
#csv-Datei einlesen
response = pd.read_csv("/Users/dennisvanelten/instrument-response/famous-parameterization-simulation.csv", index_col = 0)
#index_col = 0 bedeutet, dass Spalte 0 als Zeilenbeschriftung verwendet werden soll

In [273]:
#Datei vollständig anzeigen
#response

In [274]:
#Ausgabe der obersten n(5) Zeilen; für ganze Länge: $ head(len(response))
response.head(5)

,phi,t_sipm,t_sipm_0,t_sipm_1,t_sipm_10,t_sipm_11,t_sipm_12,t_sipm_13,t_sipm_14,t_sipm_15,...,t_sipm_52_error,t_sipm_53_error,t_sipm_54_error,t_sipm_55_error,t_sipm_56_error,t_sipm_57_error,t_sipm_58_error,t_sipm_59_error,t_sipm_error,t_sipm_60_error
0,0.785398,0.0787,0.0633,0.0042,0.0000,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000141
1,2.356194,0.0775,0.0639,0.0000,0.0000,0.0,0.0,0.0,0.0001,0.0001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,3.926991,0.0773,0.0634,0.0000,0.0001,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000100
3,5.497787,0.0746,0.0608,0.0050,0.0001,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.392699,0.0814,0.0550,0.0144,0.0000,0.0,0.0,0.0,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [275]:
#Ausgabe von Zeile 2 bis 5 (5 nicht inklusive) und der zugeörigen Spalten 1 bis 7 (7 nicht inklusive)
selected_rows = response.iloc[2:5,1:7] 
selected_rows

   t_sipm  t_sipm_0  t_sipm_1  t_sipm_10  t_sipm_11  t_sipm_12
2  0.0773    0.0634    0.0000     0.0001        0.0        0.0
3  0.0746    0.0608    0.0050     0.0001        0.0        0.0
4  0.0814    0.0550    0.0144     0.0000        0.0        0.0

In [276]:
#Gebe alle Zeilennamen von links nach rechts aus
selected_rows.columns.values

array(['t_sipm', 't_sipm_0', 't_sipm_1', 't_sipm_10', 't_sipm_11',
       't_sipm_12'], dtype=object)

In [277]:
#Summe der Werte entlang der Reihe (axis=1)
sum_row = selected_rows.sum(axis=1) 
sum_row

2    0.1408
3    0.1405
4    0.1508
dtype: float64

In [278]:
#Summe der Werte entlang der Zeile (axis=0)
sum_column = selected_rows.sum(axis=0)
sum_column

t_sipm       0.2333
t_sipm_0     0.1792
t_sipm_1     0.0194
t_sipm_10    0.0002
t_sipm_11    0.0000
t_sipm_12    0.0000
dtype: float64

In [279]:
#Füge Zeile hinzu und vergebe Zeilenname
selected_rows['chosen_titel'] = sum_row
selected_rows

   t_sipm  t_sipm_0  t_sipm_1  t_sipm_10  t_sipm_11  t_sipm_12  chosen_titel
2  0.0773    0.0634    0.0000     0.0001        0.0        0.0        0.1408
3  0.0746    0.0608    0.0050     0.0001        0.0        0.0        0.1405
4  0.0814    0.0550    0.0144     0.0000        0.0        0.0        0.1508

In [280]:
#Entferne Zeile mit bestimmten Zeilennamen
del selected_rows['chosen_titel']
selected_rows

   t_sipm  t_sipm_0  t_sipm_1  t_sipm_10  t_sipm_11  t_sipm_12
2  0.0773    0.0634    0.0000     0.0001        0.0        0.0
3  0.0746    0.0608    0.0050     0.0001        0.0        0.0
4  0.0814    0.0550    0.0144     0.0000        0.0        0.0

In [281]:
#Erhalte Wert aus einem bestimmten Feld
selected_rows.get_value(3,'t_sipm_1')

0.0050000000000000001

In [282]:
#Wähle eine bestimmte Reihe mit ausgewählten Zeilen aus, berechne 1-sum() und füge diesen Wert hinzu
selected_rows_2 = selected_rows.iloc[1,0:6]
rest_probability = 1 - selected_rows_2.sum(axis=0) 
selected_rows_2['rest_probability'] = rest_probability
selected_rows_2

t_sipm              0.0746
t_sipm_0            0.0608
t_sipm_1            0.0050
t_sipm_10           0.0001
t_sipm_11           0.0000
t_sipm_12           0.0000
rest_probability    0.8595
Name: 3, dtype: float64

In [296]:
#Ziehe mit Wahrscheinlichkeit, die den Zelleninhalten entsprechen eine Zahl aus der Reihe (zu 85% rest_probability)
n=6 
chosen_value = np.random.choice(selected_rows_2,n,p=selected_rows_2)   #n gibt an, wie oft ein Wert aus der Reihe gezogen wird
chosen_value

array([ 0.8595,  0.8595,  0.0746,  0.8595,  0.0608,  0.8595])

In [297]:
#Füge Werte als Liste in ein DataFrame
df = pd.DataFrame(list(chosen_value))
df

        0
0  0.8595
1  0.8595
2  0.0746
3  0.8595
4  0.0608
5  0.8595

In [298]:
#Zeilenname umbenennen
df=df.rename(columns = {0:'new_name'})
df

   new_name
0    0.8595
1    0.8595
2    0.0746
3    0.8595
4    0.0608
5    0.8595

In [302]:
#Abfrage, ob zufällig gezogene Zahl im Bereich [0,1] für jede Reihe von df kleiner als Eintrag ist
df['boolean'] = np.random.uniform(0, 1, len(df)) <= df['new_name']
df['boolean']

0    False
1     True
2    False
3     True
4    False
5     True
Name: boolean, dtype: bool

In [305]:
#erstellt DataFrame aus df und df['boolean'], mit allen Zeilen, die True sind
df_bool_true = df[df['boolean']]
df_bool_true

   new_name boolean
1    0.8595    True
3    0.8595    True
5    0.8595    True

In [306]:
#DataFrames miteinander verketten
concatenate = pd.concat([selected_rows,sum_column],axis=0)
concatenate

           t_sipm  t_sipm_0  t_sipm_1  t_sipm_10  t_sipm_11  t_sipm_12       0
2          0.0773    0.0634    0.0000     0.0001        0.0        0.0     NaN
3          0.0746    0.0608    0.0050     0.0001        0.0        0.0     NaN
4          0.0814    0.0550    0.0144     0.0000        0.0        0.0     NaN
t_sipm        NaN       NaN       NaN        NaN        NaN        NaN  0.2333
t_sipm_0      NaN       NaN       NaN        NaN        NaN        NaN  0.1792
t_sipm_1      NaN       NaN       NaN        NaN        NaN        NaN  0.0194
t_sipm_10     NaN       NaN       NaN        NaN        NaN        NaN  0.0002
t_sipm_11     NaN       NaN       NaN        NaN        NaN        NaN  0.0000
t_sipm_12     NaN       NaN       NaN        NaN        NaN        NaN  0.0000

In [307]:
#lege Wert für bestimmte Zelle fest
concatenate.set_value('t_sipm_10','t_sipm_1',10)

           t_sipm  t_sipm_0  t_sipm_1  t_sipm_10  t_sipm_11  t_sipm_12       0
2          0.0773    0.0634    0.0000     0.0001        0.0        0.0     NaN
3          0.0746    0.0608    0.0050     0.0001        0.0        0.0     NaN
4          0.0814    0.0550    0.0144     0.0000        0.0        0.0     NaN
t_sipm        NaN       NaN       NaN        NaN        NaN        NaN  0.2333
t_sipm_0      NaN       NaN       NaN        NaN        NaN        NaN  0.1792
t_sipm_1      NaN       NaN       NaN        NaN        NaN        NaN  0.0194
t_sipm_10     NaN       NaN   10.0000        NaN        NaN        NaN  0.0002
t_sipm_11     NaN       NaN       NaN        NaN        NaN        NaN  0.0000
t_sipm_12     NaN       NaN       NaN        NaN        NaN        NaN  0.0000